:root{
   
    --colorPrimario:#292B3C;
    --negro:#121212;
    --blanco: #fff;
    --gris-claro:#7A7A7A;
    --grisblanco:#D8D6D5;

    
    --fuente-principal:'Ubuntu', sans-serif;
}

html{
    box-sizing:inherent;
    font-size:62.5%;
}

*,*:before,*:after{box-sizing:inherent}

/* Utilidades */

.upper{text-transform: uppercase;}

/* Globales */

body{
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}

a{
    text-decoration: none;
    font-family: var(--fuente-principal);
}

img{width: 100%;}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2 ,h3 {
    text-align: center;
    font-family: var(--fuente-principal);
}

h1{font-size: 3rem;}

h2{font-size: 2.2rem;}

h3{font-size: 1.4rem;}

/* Header */

.header{
    background-color: var(--colorPrimario);
    padding: .3rem;
    display: block;
    color: var(--blanco);
}
.header h2{
    font-size: 1.7rem;
}
/* logo */
.logo{
    align-items: center;
    padding: 2rem;
    width: 80%;
    margin-top: 2rem ;
    margin-bottom: 2rem;
}

@media (min-width: 768px){
    .logo {
        width: 20%; 
    }
}


/* Navegacion */

.nav-bg{color: var(--blanco)} /* Por si se quiere realizar un cambio */

.navegacion-principal{
    display: flex;
    flex-direction: column;
    border-bottom: var(--grisblanco) .1rem solid ;
    border-top: var(--grisblanco) .1rem solid ;
}

@media (min-width: 768px){
 .navegacion-principal{
    flex-direction: row;
    justify-content: space-around;
 }  
}

.navegacion-principal a{
    display: block;
    color: var(--gris-claro);
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a.active,
.navegacion-principal a:hover{
    color: var(--negro);
    transition: .5s;
}

/* Hero */

.hero{
    background-image: url(https://i.imgur.com/J6FIEFJ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    margin: 2rem 0;
    background-position: center center;
    position: relative;
}

@media (min-width: 768px){
   .hero{
    height: 65rem;
   }
}

.hero__contenedor{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__contenedor .hero__contenido{
    max-width: 60rem;
    width: 80%;
    margin: 0 auto;
    background-color:rgb(255 255 255 / 76%);
    padding: 3rem;
    border-radius: 1rem;
}


/* Biosegurida */


@media (min-width: 768px){
    .contenb .bio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        padding: 2rem;
        align-items: center;
    }
}

